

.names {
font-size: 26px;
color: green;
border-style: double;
}

.descriptions {
font-size: 26px;
color: green;
}

.prices {
font-size: 26px;
color: green;
}

img {
    display: block;
    width: 75px;
    height: 75px;
}